*{
    margin: 0;
    font-family: monospace;
    color: #f1f1f1;
}

body {
    background-color: #1a1a1a;
}

.mainContainer{

}

.navBar{
    
}

.header{

}

.loginDiv{

}

.welcomeHeaderDiv{

}

.welcomeHeader{

}

.welcomeMsg{

}

.timerDiv{

}

.timer{

}

.hourglass{

}

.workingOnDiv{

}

.tasksDiv{

}

.taskHeaderDiv{

}

.settingsDiv{

}

.sortButtonDiv{

}

.alertButtonDiv{

}

.taskContainerDiv{

}

.taskList{

}

.addTask{

}

.footerDiv{

}